stacks/n8n/workflows/instagram-approval.json
{
  "name": "Instagram Approval",
  "active": true,
  "id": "483773c0-0b62-4ae5-b1b1-345f5df7b133",
  "versionId": "483773c0-0b62-4ae5-b1b1-345f5df7b133",
  "nodes": [
    {
      "parameters": {
        "updates": ["callback_query"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram callback_query",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [250, 400],
      "webhookId": "f2c7c254-ebaf-4f66-b1b4-5c1629c07e08",
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Telegram Bot"
        }
      },
      "notes": "Listens for inline-button taps. Requires a Telegram credential bound to the same bot whose token is in TELEGRAM_BOT_TOKEN."
    },
    {
      "parameters": {
        "jsCode": "const cb = $input.first().json.callback_query || {};\nconst data = cb.data || '';\nconst [action, assetId] = data.split(':');\nconst message = cb.message || {};\nconst chatId = (message.chat || {}).id;\nconst messageId = message.message_id;\nconst originalCaption = message.caption || '';\nconst callbackQueryId = cb.id;\n\nif (!action || !assetId) {\n  throw new Error('Malformed callback_data: ' + data);\n}\n\nreturn [{\n  json: {\n    action,\n    asset_id: assetId,\n    chat_id: chatId,\n    message_id: messageId,\n    original_caption: originalCaption,\n    callback_query_id: callbackQueryId\n  }\n}];"
      },
      "id": "parse-callback",
      "name": "Parse callback_data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 400],
      "notes": "Splits callback_data into action + asset_id, captures chat_id/message_id/caption for later edits and answerCallbackQuery."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
                "conditions": [{"id": "is-approve", "leftValue": "={{ $json.action }}", "rightValue": "approve", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "outputKey": "approve"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
                "conditions": [{"id": "is-reject", "leftValue": "={{ $json.action }}", "rightValue": "reject", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "outputKey": "reject"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-action",
      "name": "Switch on action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [690, 400],
      "notes": "Branches on action; unknown actions fall through and are dropped."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.INSTAGRAM_POSTER_INTERNAL_URL }}/enqueue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $env.INSTAGRAM_POSTER_TOKEN }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ asset_id: $json.asset_id }) }}",
        "options": {"timeout": 30000}
      },
      "id": "approve-enqueue",
      "name": "Approve: enqueue asset",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 250],
      "onError": "continueErrorOutput",
      "notes": "Calls instagram-poster /enqueue. continueErrorOutput so we can fall through to a Telegram error message on failure."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.INSTAGRAM_POSTER_INTERNAL_URL }}/reject",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $env.INSTAGRAM_POSTER_TOKEN }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ asset_id: $json.asset_id }) }}",
        "options": {"timeout": 30000}
      },
      "id": "reject-mark",
      "name": "Reject: mark seen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 550],
      "onError": "continueErrorOutput",
      "notes": "Calls instagram-poster /reject so the asset is recorded and not re-surfaced."
    },
    {
      "parameters": {
        "jsCode": "const upstream = $('Parse callback_data').item.json;\nconst suffix = '\\n\\nQueued for posting';\nreturn [{ json: { ...upstream, new_caption: (upstream.original_caption || '') + suffix } }];"
      },
      "id": "approve-caption",
      "name": "Approve: build new caption",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 250],
      "notes": "Append a confirmation suffix to the original caption."
    },
    {
      "parameters": {
        "jsCode": "const upstream = $('Parse callback_data').item.json;\nconst suffix = '\\n\\nRejected';\nreturn [{ json: { ...upstream, new_caption: (upstream.original_caption || '') + suffix } }];"
      },
      "id": "reject-caption",
      "name": "Reject: build new caption",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 550],
      "notes": "Append rejection suffix to the original caption."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/editMessageCaption",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chat_id, message_id: $json.message_id, caption: $json.new_caption, parse_mode: 'HTML' }) }}",
        "options": {"timeout": 30000}
      },
      "id": "edit-caption",
      "name": "Telegram editMessageCaption",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 400],
      "notes": "Updates the original DM caption to show the resulting state. Strips inline buttons in the same call by omitting reply_markup combined with the next node."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/editMessageReplyMarkup",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chat_id, message_id: $json.message_id, reply_markup: { inline_keyboard: [] } }) }}",
        "options": {"timeout": 30000}
      },
      "id": "edit-reply-markup",
      "name": "Telegram editMessageReplyMarkup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 400],
      "notes": "Strips the inline approve/reject buttons so the original DM no longer offers them after a decision."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ callback_query_id: $json.callback_query_id, text: 'Recorded' }) }}",
        "options": {"timeout": 15000}
      },
      "id": "answer-callback",
      "name": "Telegram answerCallbackQuery",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1790, 400],
      "notes": "Dismisses the loading spinner on the user's tap."
    },
    {
      "parameters": {
        "jsCode": "const cb = $('Parse callback_data').item.json;\nconst err = $input.first().json.error || $input.first().json;\nconst msg = (err && (err.message || err.description || JSON.stringify(err))) || 'unknown error';\nreturn [{ json: { chat_id: cb.chat_id, text: 'Instagram poster error for ' + cb.asset_id + ':\\n' + msg } }];"
      },
      "id": "build-error-msg",
      "name": "Build error message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 750],
      "notes": "Catches non-2xx from /enqueue or /reject and formats a Telegram alert text."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chat_id, text: $json.text }) }}",
        "options": {"timeout": 15000}
      },
      "id": "telegram-error-msg",
      "name": "Telegram error notice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 750],
      "notes": "Sends the error text to the user as a follow-up message."
    }
  ],
  "connections": {
    "Telegram callback_query": {"main": [[{"node": "Parse callback_data", "type": "main", "index": 0}]]},
    "Parse callback_data": {"main": [[{"node": "Switch on action", "type": "main", "index": 0}]]},
    "Switch on action": {
      "main": [
        [{"node": "Approve: enqueue asset", "type": "main", "index": 0}],
        [{"node": "Reject: mark seen", "type": "main", "index": 0}]
      ]
    },
    "Approve: enqueue asset": {
      "main": [
        [{"node": "Approve: build new caption", "type": "main", "index": 0}],
        [{"node": "Build error message", "type": "main", "index": 0}]
      ]
    },
    "Reject: mark seen": {
      "main": [
        [{"node": "Reject: build new caption", "type": "main", "index": 0}],
        [{"node": "Build error message", "type": "main", "index": 0}]
      ]
    },
    "Approve: build new caption": {"main": [[{"node": "Telegram editMessageCaption", "type": "main", "index": 0}]]},
    "Reject: build new caption": {"main": [[{"node": "Telegram editMessageCaption", "type": "main", "index": 0}]]},
    "Telegram editMessageCaption": {"main": [[{"node": "Telegram editMessageReplyMarkup", "type": "main", "index": 0}]]},
    "Telegram editMessageReplyMarkup": {"main": [[{"node": "Telegram answerCallbackQuery", "type": "main", "index": 0}]]},
    "Build error message": {"main": [[{"node": "Telegram error notice", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "saveExecutionProgress": false, "saveManualExecutions": true},
  "staticData": null,
  "meta": {"templateCredsSetupCompleted": false},
  "pinData": {}
}
