stacks/n8n/workflows/instagram-discover.json
{
  "name": "Instagram Discover",
  "active": true,
  "id": "3bae241e-c693-49aa-b271-51af0ec811dc",
  "versionId": "3bae241e-c693-49aa-b271-51af0ec811dc",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "minutes", "minutesInterval": 30}]
        }
      },
      "id": "cron-30min",
      "name": "Every 30 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "notes": "Trigger every 30 minutes."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.INSTAGRAM_POSTER_INTERNAL_URL }}/scan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": false,
        "options": {"timeout": 60000}
      },
      "id": "scan-immich",
      "name": "Scan Immich for new candidates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "notes": "POST /scan returns {\"new_items\": [\"asset-uuid\", ...]}. Internal cluster service, no auth."
    },
    {
      "parameters": {
        "fieldToSplitOut": "new_items",
        "options": {}
      },
      "id": "split-items",
      "name": "Split new_items array",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [750, 300],
      "notes": "Fan out one candidate per execution branch."
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "batch-loop",
      "name": "Loop one at a time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [970, 300],
      "notes": "Process one asset at a time so a single bad photo doesn't fan out."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.INSTAGRAM_POSTER_INTERNAL_URL }}/deliver/{{ $json.new_items }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": false,
        "options": {"timeout": 120000}
      },
      "id": "deliver",
      "name": "Deliver via Telegram + tag posted",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1190, 300],
      "notes": "Single-shot endpoint: instagram-poster fetches the original from Immich, converts HEIC->JPEG full-quality, multipart-uploads to Telegram chat, then tags the asset 'posted' in Immich and flips queue row to posted. Telegram URL-fetch fails through Cloudflare for >5MB files, so we push bytes directly from inside the cluster."
    }
  ],
  "connections": {
    "Every 30 minutes": {"main": [[{"node": "Scan Immich for new candidates", "type": "main", "index": 0}]]},
    "Scan Immich for new candidates": {"main": [[{"node": "Split new_items array", "type": "main", "index": 0}]]},
    "Split new_items array": {"main": [[{"node": "Loop one at a time", "type": "main", "index": 0}]]},
    "Loop one at a time": {"main": [[{"node": "Deliver via Telegram + tag posted", "type": "main", "index": 0}]]},
    "Deliver via Telegram + tag posted": {"main": [[{"node": "Loop one at a time", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "saveExecutionProgress": false, "saveManualExecutions": true},
  "staticData": null,
  "meta": {"templateCredsSetupCompleted": false},
  "pinData": {}
}
