stacks/n8n/workflows/instagram-post.json
{
  "name": "Instagram Post",
  "active": true,
  "id": "8964902b-b106-4cea-8965-77724baa71be",
  "versionId": "8964902b-b106-4cea-8965-77724baa71be",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "days", "daysInterval": 1, "triggerAtHour": 11, "triggerAtMinute": 0}]
        }
      },
      "id": "cron-daily-11",
      "name": "Daily 11:00 Europe/London",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "notes": "Fires once a day. Postiz handles per-platform scheduling windows; this just feeds the next approved asset to the poster service."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.INSTAGRAM_POSTER_INTERNAL_URL }}/post-next",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $env.INSTAGRAM_POSTER_TOKEN }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": false,
        "options": {
          "timeout": 60000,
          "response": {"response": {"fullResponse": true, "neverError": true}}
        }
      },
      "id": "post-next",
      "name": "Call /post-next",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "notes": "neverError + fullResponse gives us the status code so we can branch on 200 / 404 / 5xx without throwing."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
                "conditions": [{"id": "is-200", "leftValue": "={{ $json.statusCode }}", "rightValue": 200, "operator": {"type": "number", "operation": "equals"}}],
                "combinator": "and"
              },
              "outputKey": "ok"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
                "conditions": [{"id": "is-404", "leftValue": "={{ $json.statusCode }}", "rightValue": 404, "operator": {"type": "number", "operation": "equals"}}],
                "combinator": "and"
              },
              "outputKey": "empty"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
                "conditions": [{"id": "is-5xx", "leftValue": "={{ $json.statusCode }}", "rightValue": 500, "operator": {"type": "number", "operation": "largerEqual"}}],
                "combinator": "and"
              },
              "outputKey": "error"
            }
          ]
        },
        "options": {"fallbackOutput": "extra", "renameFallbackOutput": "other"}
      },
      "id": "switch-status",
      "name": "Switch on status code",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [750, 300],
      "notes": "200 -> success notify, 404 -> silent no-op, 5xx -> alert. Other 4xx falls into the fallback branch and is also alerted."
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst assetId = (body && (body.asset_id || body.id)) || 'unknown';\nreturn [{ json: { chat_id: $env.TELEGRAM_CHAT_ID, text: 'Story scheduled: ' + assetId } }];"
      },
      "id": "build-success-msg",
      "name": "Build success message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 150],
      "notes": "Pulls asset_id out of the response body for the confirmation Telegram message."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chat_id, text: $json.text }) }}",
        "options": {"timeout": 15000}
      },
      "id": "telegram-success",
      "name": "Telegram success notice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 150],
      "notes": "Confirms the scheduled post to the user."
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconst body = r.body || {};\nconst err = body.error || JSON.stringify(body) || ('HTTP ' + r.statusCode);\nreturn [{ json: { chat_id: $env.TELEGRAM_CHAT_ID, text: 'Instagram post-next failed (HTTP ' + r.statusCode + '): ' + err } }];"
      },
      "id": "build-error-msg",
      "name": "Build error message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 450],
      "notes": "Formats a Telegram alert with status code + body error message."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chat_id, text: $json.text }) }}",
        "options": {"timeout": 15000}
      },
      "id": "telegram-error",
      "name": "Telegram error alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 450],
      "notes": "Sends the error message to the user."
    },
    {
      "parameters": {},
      "id": "noop-empty",
      "name": "Empty queue (no-op)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1000, 300],
      "notes": "404 means there are no approved items waiting; do nothing instead of spamming Telegram."
    }
  ],
  "connections": {
    "Daily 11:00 Europe/London": {"main": [[{"node": "Call /post-next", "type": "main", "index": 0}]]},
    "Call /post-next": {"main": [[{"node": "Switch on status code", "type": "main", "index": 0}]]},
    "Switch on status code": {
      "main": [
        [{"node": "Build success message", "type": "main", "index": 0}],
        [{"node": "Empty queue (no-op)", "type": "main", "index": 0}],
        [{"node": "Build error message", "type": "main", "index": 0}],
        [{"node": "Build error message", "type": "main", "index": 0}]
      ]
    },
    "Build success message": {"main": [[{"node": "Telegram success notice", "type": "main", "index": 0}]]},
    "Build error message": {"main": [[{"node": "Telegram error alert", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "saveExecutionProgress": false, "saveManualExecutions": true},
  "staticData": null,
  "meta": {"templateCredsSetupCompleted": false},
  "pinData": {}
}
